.bg-navbar {
    background-color: #24292e;
    color: #fff;
}
.container-navbar {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.navbar {
    padding : 1rem;
}

.navbar-login {
    padding : 1.15rem;
}

.nav-link  {
    color: #fff !important;
}

.sign-in {

}

.sign-up {
    border: solid #fff 2px;
    border-radius: 10%;
}
.cursor-pointer {
    cursor: pointer;
}